<!-- <div class="movie-container">
<div *ngFor="let movie of movies" class="card" style="width: 18rem;">
  <img [src]="movie.image.url" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>
    <p class="card-text">algo</p>
    <a class="btn btn-primary" (click)="navigateToDetail(movie.id)">Go somewhere</a>
  </div>
</div>
</div> -->

<div class="movie-container">
  <mat-card class="example-card card" *ngFor="let movie of moviesAPI"  style="width: 18rem;">
    <mat-card-header>
      <h5 class="card-title" style="height: 40px;">{{movie.title}}</h5>
    </mat-card-header>
    <img mat-card-image [src]="urlImage+movie.poster_path" alt="foto de la pelicula" style="height: 350px;">
    <mat-card-content>
      <!-- <p class="card-text">{{movie.overview}}</p> -->
      <p class="card-text">Fecha de lanzamiento: {{movie.release_date}}</p>
    </mat-card-content>
    <mat-card-actions class="card-action">
      <button mat-button (click)="navigateToDetail(movie.id)">Detalles</button>
      <button mat-button (click)="add(movie)">Agregar</button>
    </mat-card-actions>
  </mat-card>
</div>
