.container{
  margin-top: 20px;
  background-color: var(--fondoNav);
  border-radius:5px;
  input{
    width: 100%;
  }
  .mb-3{
    margin: 10px auto;
    width: 50rem;
    color: var(--fondo);
  }
  button{
    display: grid;
    justify-content: center;
    margin: 10px auto;
    padding: 10rem auto;
    background-color: var(--contraste);
    color: var(--letra);
    border-color: var(--);
    &:hover{
      background: #ff96ad;
      box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 200px #ff96ad;
    }
  }

}
