.container {
  display: flex;
  margin: 20px;
  justify-content: center;
  flex-wrap: wrap;
  .clear {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    padding: auto;
    background-color: var(--letra);
    color: var(--contraste);
    border-color: var(--);
    &:hover {
      background: #ff96ad;
      box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 200px #ff96ad;
    }
  }
}
.mat-card-header{
  justify-content: center;
}
::ng-deep .mat-card-header-text{
  margin: 0 !important;
}
.movie-container {
  display: flex;
  margin: 20px;
  justify-content: center;
  flex-wrap: wrap;
  .mat-card {
    color: var(--fondo);
    background-color: var(--fondoNav) !important;
    // .mat-card-header{
    //   justify-content: center;
    // }
  }

  .card {
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .card-title {
    font-size: 12px;
    font-weight: bold;
  }
  .card-action {
    display: flex;
    margin-bottom:0em;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    // margin: 0 2rem;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // align-items: center;
    // align-content: center;
  }
  button {
    background-color: var(--letra);
    color: var(--contraste);
    border-color: var(--);
    &:hover {
      background: #ff96ad;
      box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 200px #ff96ad;
    }
  }
}
