/* You can add global styles to this file, and also import other style files */
:root{
  --fondo: #fef4f4;
  --letra: #f65151;
  --fondoNav: #503a3a;
  --contraste: #2e2828;
}

html, body {
  height: 100%;
  background-color: var(--contraste);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
